html {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
}


body{
    margin:3rem auto;
}
div.stage{
    margin:0 3rem;
}

form{
    display: flex;
    justify-content: space-between;
}
input[type="submit"]{
    display:none;
}
form.editable input{
    border: 1px solid #e5e5e5;
}
fieldset{
    margin:2rem;
    border:none;
    display: block;
}
fieldset > p{
    display: inline-flex;
    align-self: flex-start;
}
label{
    font-size:1.6rem;
    margin-right: .75rem;
}
label:after{
    content:": ";
}
input{
    font-size:1.6rem;
    margin-right:1.5rem;
    width: auto;
    min-width: 2rem;
    margin-top:-3px;
}
input#age{
    width:3rem;
}
input#birthdate{
    width:10rem
}
input:disabled{
    border:none;
}

.control_holder{
    width:25%;
    display: inline;
    font-size:2.4rem;
    flex-direction: row;
}
.edit,.cancel,.submit,.control_holder {
    font-family: "FontAwesome";
    padding: .75rem;
    font-size: 2.4rem;
}
.control_holder:before{
    content: "\f040";
    cursor:pointer;
}

form.editing  .control_holder:before{
    content:"";
}
form .cancel, form .submit{
    display:none;
}
form.editing .cancel, form.editing .submit{
    display: inline-flex;
}
.submit:before{
    content: "\f00c";
    color:green;
}
.cancel:before{
    content: "\f00d";
    color:red;
}
ul#resume_list{
    list-style-type: lower-latin;
    counter-reset: section;
    font-size:1.6rem;
    padding-left:0;
}
ul li{
    display: flex;
    margin-left:0;
    width:98%;
}
li.titles{
    flex-direction: row;
    margin-left: 2rem;
    justify-content: space-between;

}
.column_title{
    text-align: center;
    font-size:1.8rem;
    font-weight:bold;
    margin-bottom:3.5rem;
    border-bottom:1px solid rgba(0, 0, 0, .5);
    padding-bottom: .5rem;
    margin-left:2%;
}
.column_title:first-child{
    margin-right: 2%;
    text-align: left;
    flex-basis:25%;
    padding-left: 2%;

}
.column_title:nth-child(2){
    flex-basis:10%;
}
.column_title:last-child{
    flex-basis:57%;
}
li.resume {
    flex-direction: row;
    margin: 1rem 1rem 1rem 2rem;
    align-content: space-between;
    /* width: 98%; */
}
li.resume:before {
    counter-increment: section;               /* Increment the section counter*/
    content: counter(section) ". " ; /* Display the counter */
    margin-right: .5rem;

}
.resume_title{
    margin-right:2rem;
    flex:1 0 25%;
    white-space: pre;
    display: inline-block;
}
li > div{
    margin-left:2%;
}

.resume_date{
    flex:0 0 10%;
}
.resume_description{
    flex:1 0 57%;
}
.show_message {
    display: block;
}
.message_area{
    font-size:2rem;
    text-align: center;
    width:100%;
}
.error{
    display: none;
    color:red;
    text-align: center;
    border:2px solid red;
}
.success{
    display: none;
    color: black;
    border:1px solid green
}
@media screen and (min-width:1025px) {

    .edit,.cancel,.submit,.control_holder{
        background-color:transparent;
        border:none;
    }

}

@media screen and (max-width: 1024px) {

    fieldset#contact_fieldset{
          display: block;
    }
    .control_holder{
        margin-top:.5rem;
        display: flex;
        flex-direction: row;
        width:auto;
    }

    .submit,.cancel{
        font-family: sans-serif;
        font-size:1.2rem;
        font-size:1.2rem;
    }
    .submit:before{
        content: "Save Changes";
        color:green;
    }
    .cancel:before{
        content: "Cancel";
        color:red;
    }
}

@media screen and (max-width: 768px) {

    ul#resume_list{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        border: 1px solid;
    }
    li.titles{
        display:none
    }
    li.resume{
        width: 31%;
        display:flex;
        flex-direction:column;
        margin-right: .5rem;
        margin-left: .5rem;
    }
    li.resume:before{
        display: none;
    }
    li.resume div{
        margin:.5rem 0;
    }
    .resume_description{
        max-width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .resume_title:before{
        content:"\f016";
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 500px) {
    body {

    }
    ul#resume_list{
        flex-direction: column;

    }
    li.resume{
        width:100%
    }
    div.resume_description{
        height: auto;
        word-break: break-all;
        word-wrap: break-word;
        white-space: normal;
        max-width: 97%;
        overflow-y: visible ;
        text-overflow: initial;
    }
}
