html {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
}


body{
    margin:3rem auto;
    width:128rem;
}

form{
    display: flex;
    justify-content: space-between;
}
input[type="submit"]{
    display:none;
}
form.editable input{
    border: 1px solid #e5e5e5;
}
fieldset{
    margin:2rem;
    border:none;
    display: block;
}
label{
    font-size:1.6rem;
    margin-right: .75rem;
}
label:after{
    content:": ";
}
input{
    font-size:1.6rem;
    margin-right:1.5rem;
    width: auto;
    min-width: 2rem;
}
input#age{
    width:3rem;
}
input:disabled{
    border:none;
}

.control_holder{
    width:25%;
    display: inline;
    font-size:2.4rem;
    flex-direction: row;
}

.edit,.cancel,.submit,.control_holder{
    font-family: "FontAwesome";
    padding:.75rem;
    font-size:2.4rem;
    background-color:transparent;
    border:none;
}
.control_holder:before{
    content: "\f040";
    cursor:pointer;
}
form.editing{
}
form.editing  .control_holder:before{
    content:"";
}
form  .cancel, form  .submit{
    display:none;
}
form.editing  .cancel, form.editing  .submit{
    display: inline-flex;
}
.submit:before{
    content: "\f00c";
    color:green;
}
.cancel:before{
    content: "\f00d";
    color:red;
}
ul#resume_list{
    list-style-type: lower-latin;
    counter-reset: section;
    font-size:1.6rem;
    padding-left:0;
}
ul li{
    display: flex;
    margin-left:0;
}
li.titles{
    flex-direction: row;
    width: 75%;
    margin-left: 2rem;
    justify-content: space-between;

}
.column_title{
    text-align: center;
    width:45%;
    font-size:1.8rem;
    font-weight:bold;
    margin-bottom:3.5rem;
    border-bottom:1px solid rgba(0, 0, 0, .5);
    padding-bottom: .5rem;
}
.column_title:first-child{
    margin-right: 2%;
    text-align: left;
    padding-left: 2%;

}
li.resume {
    flex-direction: row;
    margin: 1rem 1rem 1rem 2rem;
    align-content: space-between;
    width: 75%;
}
li.resume:before {
    counter-increment: section;               /* Increment the section counter*/
    content: counter(section) ". " ; /* Display the counter */
    margin-right: .5rem;

}
.resume_title{
    margin-right:2rem;
    width:50%;
    white-space: pre;
    align-self:flex-end;
}

.resume_date{
    width:50%;
    text-align: center;
}

.show_message {
    display: block;
}
.message_area{
    font-size:2rem;
    text-align: center;
    width:100%;
}
.error{
    display: none;
    color:red;
    text-align: center;
    border:2px solid red;
}
.success{
    display: none;
    color: black;
    border:1px solid green
}
